body{

	background-color: cornsilk;

}


h1{
	font-size: 60px;
	font-family:Dauphin;
	border: 2px solid lightgrey;
	text-align: center;
	
}


h2{
	font-family:Dauphin;
}

h4{
	background-color: bisque;
	text-align: center;
}

ul{
	list-style-type: none;/* é usada para definir o estilo do marcador de item da lista*/
	margin: 0;/*Zerando a margem*/
	padding: 0; /*tamanho da célula*/
	overflow: hidden;/*o estouro é cortado e o resto do conteúdo é oculto*/
	background-color: #333333;
	
}
li{
	float:left;
	
}
li a {
	display: block;/*especifica o comportamento de exibição (o tipo de caixa de renderização) de um elemento.*/
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 20px;
  }
li a:hover{
	background-color: #111111;
}
pre{
	font-family: Open Sans;
	font-size: 20px;
	border: 2px solid ligthgray;
}

table, td, th{
	border: 1px solid black;
	text-align: center;	
}
#tabela{
	width: 50%;
	text-align: center;
	background-color: rgb(126, 124, 51);
}

#tabela th{
	background-color: black;
	color: white;
}
